@media screen and (min-width: 620px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size  : 40px;
        line-height: 1.3;

    }

    p {
        font-size  : 16px;
        line-height: 1.8;
    }

    // Footer

    footer {
        .logo {
            font-size: 28px;
        }
        .main-nav {
            ul {
                li {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (min-width: 980px) {

    h1 {

    }

    h2 {
        font-size  : 40px;
        line-height: 1.3;

    }

    p {
        font-size  : 16px;
        font-weight: 500;
        line-height: 1.8;
    }

    #about {

        .about-metadata {
            .about-description {
                font-weight: 500;
            }
        }
    }

    // P

}