// ------- COLORS -------

// General
$linkColor: white;
$logoColor: white;
$textColor: #8888885e;

// Primary
$primaryColor: #D87D4A;
$primaryFaded: #fbaf85;
$primaryBlack: #101010;
$fadedWhite  : #F1F1F1;
$lightWhite       : #FAFAFA;

// HEADER
$borderBottom: #8888885e;
$headerColor : #FFFFFF;

// HOME
// Hero
// Product description
$newProductColor: #F1F1F1;

// FOOTER
$footerBgColor: #101010;
$footerColor: #8888885e;

// ------- SETTINGS -------

// General
$cardBorderRadius: 15px;
$modalBorderRadius: 5px;

// HEADER
$headerHeight: 90px;

// PRODUCTS 
// heading
$headingHeight: 180px;

// ABOUT