// ------- COLORS -------
// Primary
$primaryColor: #D87D4A;
$primaryFaded: #fbaf85;
$primaryBlack: #101010;
$fadedWhite  : #F1F1F1;
$lightWhite       : #FAFAFA;

// HEADER
$borderBottom: #8888885e;
$headerColor : #FFFFFF;

// HOME
// Hero
// Product description
$newProductColor: #F1F1F1;
// ------- SIZES -------

// HEADER
$headerHeight: 90px;