// Flex item mixin
@mixin flexItem($horizontal, $vertical, $direction) {
    display: flex;
    justify-content: $horizontal;
    -webkit-justify-content: $horizontal;
    align-items: $vertical;
    -webkit-align-items: $vertical;
    flex-direction: $direction;
}
