// ------- COLORS -------

// General
$linkColor: white;
$logoColor: white;
$textColor: #8888885e;

// Primary
$primaryColor: #d87d4a;
$primaryFaded: #fbaf85;
$primaryBlack: #101010;
$fadedWhite: #f1f1f1;
$lightWhite: #fafafa;
$lightGray: #f2f2f2;

// HEADER
$borderBottom: #8888885e;
$headerColor: #ffffff;

// HOME
// Hero
// Product description
$newProductColor: #f1f1f1;

// FOOTER
$footerBgColor: #101010;
$footerColor: #8888885e;

// ------- SIZES -------

// ------- SETTINGS -------

// General
$cardBorderRadius: 15px;
$modalBorderRadius: 5px;

// HEADER
$headerHeight: 90px;

// PRODUCTS
// heading
$headingHeight: 180px;

// ABOUT
