.content__container {
    white-space: pre-wrap;
    margin     : 80px 0;

    .item {
        @include flexItem(flex-start, center, row);

        .included-qty {
            color       : $primaryColor;
            margin-right: 25px;
        }

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }

    .content-title {
        margin-bottom: 20px;
    }

}