.form-input {
    &:not(:last-of-type) {
        margin-bottom: 20px;
    }

    label {
        display      : block;
        margin-bottom: 5px;
    }

    input {
        padding      : 15px 25px;
        box-sizing   : border-box;
        width        : 100%;
        border-radius: 8px;
        border       : 1px solid #CFCFCF;

        &::placeholder {
            opacity: 0.7;
        }
    }

    input {
        &[type="radio"] {
            width: fit-content;
        }
    }


}