.product-quantity__container {
    @include flexItem(space-between, center, row);
    margin: 30px 0;
    .qty {
        @include flexItem(space-evenly, center, row);
        background-color: $lightGray;

        span {
            padding: 10px 25px;
            color  : black;
            opacity: 0.2;
        }
        .qty-value {
            opacity: 1;
        }
    }

    .btn {
        min-height: 45px;
        padding   : 0 20px;
    }
}