.product-data__wp {
    &--hero {
        @extend .product-data__wp;
        color: white;
        height: fit-content;
        margin-bottom: 30px;
        // New product subtitle
        .overline {
            color     : $newProductColor;
            opacity   : 0.5;
            margin-top: 50px;
        }

        #hero-title {
            margin: 15px;
        }

        .product-description {
            font-weight: 100;
            color: white;
            opacity    : 0.8;
        }
    }

    &--product {
        @extend .product-data__wp;

        // New product subtitle
        .overline {
            color: $primaryColor;
        }

        .product-description {
            opacity: 0.5;
            margin : 25px 0;
        }
    }

    // height    : 50%;
    text-align: center;
    width     : 90%
}