.product-data__wp {
    &--hero {
        @extend .product-data__wp;
        color: white;

        // New product subtitle
        .overline {
            color     : $newProductColor;
            opacity   : 0.5;
            margin-top: 50px;
        }

        #hero-title {
            margin: 15px;
        }

        .product-description {
            font-weight: 100;
            opacity    : 0.8;
            margin     : 25px 0 40px 0;
        }
    }

    &--product {
        @extend .product-data__wp;

        // New product subtitle
        .overline {
            color: $primaryColor;
        }

        .product-description {
            opacity: 0.5;
            margin : 25px 0;
        }
    }

    height    : 50%;
    text-align: center;
    width     : 90%
}