@media screen and (min-height: 620px) {
    #hero {
        background-image: url('../../images/home/tablet/image-header.jpg');
        // filter             : contrast(120%);
    }
}

@media screen and (min-width: 445px) {
    #hero {
        background-image: url('../../images/home/tablet/image-header.jpg');

        .data {
            width: 85%;
        }
    }
}

@media screen and (min-width: 490px) {
    #hero {
        background-image: url('../../images/home/tablet/image-header.jpg');

        .data {
            width: 50%;
        }
    }
}

@media screen and (min-width: 560px) {
    #hero {
        .data {
            .product-data__wp--hero {
                // New product subtitle
                .overline {
                }

                #hero-title {
                    font-size: 7vw;
                    line-height: 1.3;
                }

                .product-description {
                    font-size: 2.6vw;
                    line-height: 1.3;
                    font-weight: 300;
                }
            }

            width: 60%;
        }
    }
}

@media screen and (min-width: 780px) {
    #hero {
        // background-image: url('../../images/home/desktop/image-hero.jpg');
        background-position: right;
        align-items: start;
        background-size: contain;
        background-color: #191919;

        .data {
            padding-left: 50px;
            box-sizing: border-box;
            align-items: start;
            .product-data__wp--hero {
                text-align: left;

                // New product subtitle
                .overline {
                }

                #hero-title {
                    font-size: 5vw;
                    line-height: 1.3;
                    margin: 20px 0;
                }

                .product-description {
                    font-size: 18px;
                    line-height: 1.5;
                    font-weight: 300;
                }
            }

            width: 50%;
        }
    }
}
