footer {
    text-align      : center;
    background-color: $footerBgColor;
    color: white;
    
    .footer-upper {
        margin-bottom: 50px;

        &::before {
            content         : "";
            height          : 4px;
            width           : 100px;
            background-color: $primaryColor;
            margin          : 0 auto;
            display         : block;
        }

        .logo {
            margin: 45px 0;
        }
    }

    .footer-description p,
    .copyright {
        color  : $lightWhite;
        opacity: .5;
    }

    .footer-end {
        padding-bottom: 40px;

        .copyright {
            margin: 50px 0;
        }

        .footer-social {
            ul {
                @include flexItem(center, center, row);
                font-size: 30px;

                li {
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}