#products {
    .products-title__container {
        @include flexItem(center, center, column);
        height: $headingHeight;
        background-color: black;
        color: $lightWhite;
        
        // Center heading
        padding-top: $headerHeight ;
        box-sizing: border-box;
    }
}